<div id='api-sidebar'>
  <div class="block block-menu" id="block-menu-menu-api-sidebar">
    <div class="content">
      <ul class="menu">
        <li class="icon-home active leaf first active-trail">
          <a href="/APIs/REST-API" title="Home">REST API Home</a>
        </li>

        <li class="nav-header active leaf">
          <a href="/APIs/REST-API">Concepts</a>
        </li>
        <li class="icon-info-sign leaf">
          <a href="/APIs/REST-API/REST" title="Introduction">REST</a>
        </li>
        <li class="icon-lock leaf">
          <a href="/APIs/REST-API/authentication" title="Authentication">Authentication</a>
        </li>
        <li class="icon-th-large leaf">
          <a href="/APIs/REST-API/paging" title="Data Representations">Paging</a>
        </li>

        <li class="nav-header active leaf">
          <a href="/APIs/REST-API">Sending Messages</a>
        </li>
        <li class="icon-envelope leaf">
          <a href="/APIs/REST-API/messagedispatcher" title="Message Dispatcher">Message Dispatcher</a>
        </li>
        <li class="icon-envelope leaf">
          <a href="/APIs/REST-API/messagesinformation" title="Messages Information">Messages Information</a>
        </li>

        <li class="nav-header active leaf">
          <a href="/APIs/REST-API">Receiving Messages</a>
        </li>
        <li class="icon-inbox leaf">
          <a href="/APIs/REST-API/inbox" title="Inbox">Inbox</a>
        </li>

        <li class="nav-header active leaf">
          <a href="/APIs/REST-API">Checking Messages</a>
        </li>
        <li class="icon-briefcase leaf">
          <a href="/APIs/REST-API/messagebatches" title="Message Batches">Message Batches</a>
        </li>
        <li class="icon-file leaf">
          <a href="/APIs/REST-API/messageheaders" title="Message Headers">Message Headers</a>
        </li>
        <li class="icon-comment leaf">
          <a href="/APIs/REST-API/conversation">Conversation</a>
        </li>

        <li class="nav-header active leaf">
          <a href="/APIs/REST-API">Accounts</a>
        </li>
        <li class="icon-cog leaf">
          <a href="/APIs/REST-API/accounts" title="Accounts">Accounts</a>
        </li>
        <li class="icon-cog leaf">
          <a href="/APIs/REST-API/accountsettings" title="Account Settings">Account Settings</a>
        </li>

        <li class="nav-header active leaf">
          <a href="/APIs/REST-API">Contacts</a>
        </li>
        <li class="icon-user leaf">
          <a href="/APIs/REST-API/contacts" title="Contacts">Contacts</a>
        </li>
        <li class="icon-book leaf">
          <a href="/APIs/REST-API/contactgroups" title="Contact Groups">Contact Groups</a>
        </li>
        <li class="nav-header active leaf">
          <a href="/APIs/REST-API/">Surveys</a>
        </li>
        <li class="icon-envelope leaf last">
          <a href="/APIs/REST-API/sendsurvey" title="Send Surveys">Send Survey</a>
        </li>
      </ul>
    </div>
  </div>
</div>
