<!DOCTYPE html>
<html>
  <head>
	{% include head.html %} 
  </head>
  <body onload="trackOutboundLinks()">
	<script type="text/javascript" src="/sites/all/themes/EsendexDevelopers/js/cookies.js"></script>

    <div id='cookies_popup'>
      <img id='close' src='/sites/all/themes/EsendexDevelopers/images/cookie_close.jpg' name="close">
   
      <div id='cookie_wrap'>
        We use cookies to provide a better user experience and to improve the quality of our site. For more information please <a href='reference/Cookies.html'>click here</a>.
      </div>
    </div>
   
    <div id="wrapper">
      {% include menu.html %} 
	  
	  {{ content }}
    </div>
	
	{% include footer.html %}
  </body>
</html>
